body {
   --bs-body-bg: #F8F0E5;
   color: #0F2C59;
   --bs-body-color: #0F2C59;
   --bs-secondary-color: #0F2C59;
   --bs-link-color: #DAC0A3;
   --bs-link-hover-color: #EADBC8;
   font-family: 'Merriweather', serif;
   background-image: url("../images/scribble-light.png");
   --bs-border-color: #DAC0A3;
   --bs-border-opacity: .05;
}

@media screen and (min-resolution: 150dpi ) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.75rem;
    }

    h3, p, label, input, textarea {
        font-size: 3rem;
    }

    .btn-primary, .btn-danger, .btn-outline-secondary {
        --bs-btn-font-size: 3rem;
    }
}

.btn-primary, .btn-danger {
    --bs-btn-color: #0F2C59;
    --bs-btn-bg: #DAC0A3;
    --bs-btn-border-color: #DAC0A3;
    --bs-btn-hover-color: #0F2C59;
    --bs-btn-hover-bg: #EADBC8;
    --bs-btn-hover-border-color: #EADBC8;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #F8F0E5;
    --bs-btn-active-bg: #EADBC8;
    --bs-btn-active-border-color: #EADBC8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F8F0E5;
    --bs-btn-disabled-bg: #EADBC8;
    --bs-btn-disabled-border-color: #EADBC8;
}

/*.delete-book-btn {
    --bs-btn-padding-x: 0.1rem;
}*/

.btn-outline-secondary {
    --bs-btn-color: #0F2C59;
    --bs-btn-bg: #F8F0E5;
    --bs-btn-border-color: #DAC0A3;
    --bs-btn-hover-color: #0F2C59;
    --bs-btn-hover-bg: #EADBC8;
    --bs-btn-hover-border-color: #EADBC8;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #F8F0E5;
    --bs-btn-active-bg: #EADBC8;
    --bs-btn-active-border-color: #EADBC8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F8F0E5;
    --bs-btn-disabled-bg: #EADBC8;
    --bs-btn-disabled-border-color: #EADBC8;
}

#bookTitle, #bookCompletionDate, #bookRating, #bookdescription, #bookAuthor, #username, #email, #new-password, #current-password {
    color: #0F2C59;
    border-color: #DAC0A3;
    background-color: #EADBC8;
}

.warning-msg {
    background-color: #EADBC8;
    border-color: #DAC0A3;
}